<%= stylesheet_link_tag 'articles', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'articles', 'data-tracurbolinks-track': 'reload' %>
<div id="fb-root"></div>
<div class="container-fluid">
  <div id="title" class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div><%= @article.title %></div>
      <div id="bar"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div id="content">
        <%= image_tag @article.image %>
        <%= @article.content.html_safe %>
      </div>
      <% if @article.id + 1 <= @total %>
        <a href="<%= article_path(@article.id + 1) %>"><div>下一頁</div></a>
      <% end %>
    </div>
    <div class="col-md-3">
      <div id="author">
        <%= image_tag @article.author.image %>
        <h3><b><%= @article.author.name %></b></h3>
        <%= @article.author.description.html_safe %>
      </div>
      <div class="fb-page" 
           data-tabs="none"
           data-href="https://www.facebook.com/NCTUArtFest/?fref=ts" 
           data-small-header="false" 
           data-adapt-container-width="true" 
           data-hide-cover="false" 
           data-show-facepile="false" >
        <blockquote cite="https://www.facebook.com/NCTUArtFest/?fref=ts" 
                    class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/NCTUArtFest/?fref=ts">交大藝術祭－孤島</a>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<script>
$(function(){
  $(window).scroll(function(){
    var tmp = $(window).scrollTop() / ($(document).height() - $(window).height()) * 100;
    //alert(tmp);
    var percent = tmp + '%';
    //alert(percent);
    $("#bar").css("width", percent);
    //$("#bar").animate({width: percent}, "1");
  });    
});
</script>
